.product-item img.img-fluid{
    display: block;
    width: 100%!important;
    height: 220px!important;
}
.pagination{
margin-left: 40%;
}
#offcanvas-start li{
    width: 100%;
    color: #0a0a0a!important;
    border-bottom: 1px solid #b2b8c1;
}
