.item_box_col_right {
    background: #fff;
    width: 100%;
    float: left;
}
#box_hoadon .title_common_site {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-top: 3px solid rgba(5, 45, 250, 0.6);
    margin-bottom: 10px;
}
#box_hoadon .content_common_site {
    padding: 10px;
}
.space_bottom_5 {
    margin-bottom: 5px;
}
.pull-right {
    float: right !important;
}
.width_common.space_bottom_5{
    border-top:1px solid #e5e5e5;
    padding-top: 11px;
}
.text-center{
    text-align: center;
}
#box_hoadon .btn_site_2{
    padding: 10px;
    width: 100%;
}
#profile_page{
    margin-top: 9rem;
}
.title_donhang{
    padding: 0 10px 10px;
    font-size: 18px;
}
