.item_box_col_right {
    background: #fff;
    width: 100%;
    float: left;
    margin-top: 37px;
}
#box_hoadon .title_common_site {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-top: 3px solid rgba(5, 45, 250, 0.6);
    margin-bottom: 10px;
}
#box_hoadon .content_common_site {
    padding: 10px;
}
.space_bottom_5 {
    margin-bottom: 5px;
}
.pull-right {
    float: right !important;
}
.width_common.space_bottom_5{
    border-top:1px solid #e5e5e5;
    padding-top: 11px;
}
.text-center{
    text-align: center;
}
#box_hoadon .btn_site_2{
    padding: 10px;
    width: 100%;
}
#profile_page.row{
    margin: 20px;
}
#wrapper_container{
    margin-top: 150px!important;
    background-color: #fcf7f3;
}
.title_donhang{
    padding: 0 10px 10px;
    font-size: 18px;
}
.btn_site_2 {
    background: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 15px;
}#box_hoadon .btn_site_2{
    padding: 10px;
    width: 100%;
 }

table tr:nth-child(odd){

    background-color: #edf1ed;
}
table tr:nth-child(even){
    background-color: #b7bbbb;

}
thead tr {
    background-color: darkgrey!important;
}
.checkout_payment_method_title{
    font-size: 1.125rem;
    width: 12.5rem;
    color: #222;
}
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    position: absolute;
    right: 2px;
    top: 2px;
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}