body{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.flex-control-nav{
    display: block;
}
.wow.fadeInUp{
    animation-name: none;
    animation-delay: unset;
}
h1.slideInDown{
    color: #283655;
}

.col-md-3{
    float: left;
}
.item_slogan{
    color: #0c4128;
}
.item_slogan img{
    width: 150px;
    height: 150px;
}
#searchform-header-replace label {
    height: 100%
}

.form-control{
    width: 80%;
}
.product-item img.img-fluid{
    width: 100%!important;
    height: 220px!important;
}
.align-items-center img{
    width: 40%;
    height: 40%;
}
.container-fluid #header-carousel .carousel-inner .carousel-item img {
    height: 500px;
    object-fit: cover;
}
.container .img-slider .img-item {
    margin: 0px 5px 0px 0px;
}
.card-img{
    width: 300px;
    height: 250px;
}

.hero__item .hero__text{
    position: absolute;
    top: 100px;
    left: 10px;
    font-family: Roboto;
}