.product-item img.img-fluid{
    display: block;
    width: 100%!important;
    height: 220px!important;
}
.pagination{
margin-left: 40%;
}
#offcanvas-start li{
    width: 100%;
    color: #0a0a0a!important;
}
.text-body.disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}
